@charset "UTF-8";
.radios, .playlists {
  margin: 14px 10px 10px;
}
.radios .title, .playlists .title {
  color: black;
  font-size: 16px;
  margin-bottom: 11px;
}
.radios .list, .playlists .list {
  display: flex;
  flex-wrap: wrap;
}
.radios .list .list-item, .playlists .list .list-item {
  flex: 1;
  flex-basis: 40%;
  font-size: 14px;
  background-color: #fff;
  margin: 0 10px 10px 0;
}
.radios .list .list-item .list-media, .playlists .list .list-item .list-media {
  position: relative;
}
.radios .list .list-item .list-title, .playlists .list .list-item .list-title {
  padding: 0 7px 5px;
  margin-top: 5px;
  height: 36px;
}
.radios .list .list-item .icon, .playlists .list .list-item .icon {
  background-repeat: no-repeat;
  background-size: 24px 60px;
  background-image: url("../images/list_sprite.png");
}
.radios .list .list-item .icon-play, .playlists .list .list-item .icon-play {
  height: 24px;
  bottom: 5px;
  right: 5px;
  width: 24px;
  position: absolute;
  background-position: 0 0;
}
.radios .list .list-item img, .playlists .list .list-item img {
  width: 100%;
  display: block;
}

/* 重置基础的样式文件 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

h1, h2 {
  font-weight: normal;
}

i {
  font-style: normal;
}

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c;
}
#header h1 {
  display: none;
}
#header #logo {
  height: 25px;
  margin-left: 10px;
}

.qq-slider {
  width: 100%;
  overflow: hidden;
}
.qq-slider .qq-slider-wrap {
  width: 100%;
  display: flex;
  transition: 0.3s;
}
.qq-slider .qq-slider-item {
  flex-basis: 100%;
}
.qq-slider .qq-slider-item > a {
  display: block;
}
.qq-slider .qq-slider-item > a img {
  width: 100%;
  display: block;
}

.navbar .nav-list {
  display: flex;
}
.navbar .nav-list .nav-item {
  position: relative;
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.navbar .nav-list .nav-item.active {
  color: #31c27c;
}
.navbar .nav-list .nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 2px;
  background-color: #31c27c;
}

/*jsfkajsdlkjfa;sdjfkajsdl;xkjfl;ajsl;f*/
.hide {
  display: none;
}

.rank-view {
  margin: 10px;
}

.toplist .top-item {
  height: 100px;
  background: #fff;
  margin-bottom: 10px;
}
.toplist .top-item-media {
  float: left;
}
.toplist .top-item-media img {
  width: 100px;
  height: 100px;
  display: block;
}
.toplist .top-item-info {
  position: relative;
  padding: 7px 10px 6px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toplist .top-item-info .top-item-info-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  margin-bottom: 5px;
}
.toplist .top-item-info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  transform: rotate(315deg);
  border-right: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}
.toplist .top-item-info .top-item-list .top-item-song {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.toplist .top-item-info .top-item-list .top-item-song .song-name {
  color: #000;
  margin-left: 8px;
  margin-right: 5px;
}
.toplist .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
.search-bar .search-bar-cont {
  position: relative;
  padding: 8px 12px 8px 35px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  float: left;
  width: 80%;
}
.search-bar .search-bar-cont input {
  height: 20px;
  line-height: 20px;
  border: none;
  appearance: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  outline: 0;
}
.search-bar .search-bar-cont .icon {
  position: absolute;
  background: url("../images/search.png") center center no-repeat;
  background-size: cover;
  height: 18px;
  width: 18px;
  left: 11px;
  top: 11px;
}
.search-bar .search-bar-btn {
  display: inline-block;
  width: 20%;
  max-width: 40px;
  min-width: 30px;
  font-size: 14px;
  height: 30px;
  padding: 10px 2px 0 2px;
}
.search-bar::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #f4f4f4;
}

/*# sourceMappingURL=app.css.map */
