.radios, .playlists {
    margin: 14px 10px 10px;
    .title{
        color: black;
        font-size: 16px;
        margin-bottom: 11px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        .list-item{
            flex: 1;
            flex-basis: 40%;
            font-size: 14px;
            background-color: #fff;
            margin: 0 10px 10px 0;
            .list-media {
                position: relative;
            }
            .list-title {
                padding: 0 7px 5px;
                margin-top: 5px;
                height: 36px;
            }
            .icon {
                background-repeat: no-repeat;
                background-size: 24px 60px;
                background-image: url("../images/list_sprite.png");
            }
            .icon-play {
                height: 24px;
                bottom: 5px;
                right: 5px;
                width: 24px;
                position: absolute;
                background-position: 0 0;
            }
            img {
                width: 100%;
                display: block;
            }
        }
    }
}
